<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>projectRootFolderPath</key>
	<string>/Users/andrewmbp-office/ftband-bank-ios</string>
	<key>unusedTranslations</key>
	<true/>
	<key>translationDuplication</key>
	<true/>
	<key>untranslatedKeys</key>
	<true/>
	<key>allUntranslatedStrings</key>
	<false/>
	<key>differentKeysInTranslations</key>
	<true/>
	<key>shouldAnalyzeSwift</key>
	<true/>
	<key>shouldAnalyzeObjC</key>
	<true/>
	<key>customSwiftPatternPrefixes</key>
	<array>
		<string>lang(</string>
		<string>lang</string>
	</array>
	<key>customSwiftPatternSuffixes</key>
	<array>
		<string>.localized</string>
	</array>
	<key>customObjCPatternPrefixes</key>
	<array>
		<string>lang(</string>
		<string>title(</string>
		<string>subtitle(</string>
		<string>advice(</string>
		<string>buttonTitle(</string>
		<string>rescanTitle(</string>
		<string>rescanSubtitle(</string>
		<string>withTitle:</string>
		<string>message:</string>
		<string>deleteButtonTitle:</string>
		<string>cancelButtonTitle:</string>
		<string>positiveButtonTitle:</string>
		<string>cancelButtonTitle:</string>
	</array>
	<key>objCPatternPrefixExceptions</key>
	<array>
		<string>setAnimation:</string>
		<string>.animation(</string>
		<string>configureWithAnimation:</string>
		<string>secondAnimation:</string>
		<string>imageNamed:</string>
		<string>userInfo[</string>
		<string>.appData[</string>
		<string>addAnimationViewFromFirstAnimation:</string>
	</array>
	<key>swiftPatternPrefixExceptions</key>
	<array>
		<string>imageLiteral(resourceName: </string>
		<string>forResource: </string>
		<string>SegmentedBarItemImageSet(</string>
		<string>appendingPathComponent(</string>
		<string>forKey: </string>
		<string>userInfo[</string>
		<string>UIImage(named: </string>
		<string>Animatiion: </string>
		<string>animation: </string>
		<string>withAnimation: </string>
		<string>Animation.named(</string>
		<string>.animation(</string>
	</array>
	<key>keyNamePrefixExceptions</key>
	<array>
		<string>ic_</string>
	</array>
	<key>keyNamePattern</key>
	<string>[_a-z0-9]*[_][a-z0-9]+</string>
	<key>excludedTranslationKeys</key>
	<array>
		<string>intro_jar_and_rewards_miles_title</string>
		<string>intro_jar_and_rewards_cashback_title</string>
		<string>intro_jar_and_rewards_miles_desc</string>
		<string>intro_jar_and_rewards_cashback_desc</string>
		<string>registration_selfie_face_straight</string>
		<string>registration_selfie_phone_straight</string>
		<string>activation_card_iron_title</string>
		<string>activation_photo_title</string>
		<string>activation_title</string>
		<string>jar_amount_change</string>
		<string>jar_settings_set_amount</string>
		<string>jar_description_change</string>
		<string>jar_settings_add_description</string>
	</array>
	<key>excludedKeys</key>
	<array>
		<string>credit_details_uah&quot;))</string>
	</array>
	<key>folderExcludedNames</key>
	<array>
		<string>MiSnapSDK</string>
		<string>Pods</string>
	</array>
</dict>
</plist>
