<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Needed check</key>
	<dict>
		<key>unusedTranslations</key>
		<true/>
		<key>translationDuplication</key>
		<true/>
		<key>untranslatedKeys</key>
		<true/>
		<key>allUntranslatedStrings</key>
		<false/>
		<key>differentKeysInTranslations</key>
		<true/>
	</dict>
	<key>objCExceptions</key>
	<array>
		<string>setAnimation:</string>
		<string>.animation\(</string>
		<string>configureWithAnimation:</string>
		<string>secondAnimation:</string>
		<string>imageNamed:</string>
		<string>userInfo\[</string>
		<string>.appData\[</string>
		<string>addAnimationViewFromFirstAnimation:</string>
	</array>
	<key>swiftExceptions</key>
	<array>
		<string>imageLiteral\(resourceName: </string>
		<string>forResource: </string>
		<string>SegmentedBarItemImageSet\(</string>
		<string>appendingPathComponent\(</string>
		<string>forKey: </string>
		<string>userInfo\[</string>
		<string>UIImage\(named: </string>
		<string>Animatiion: </string>
		<string>animation: </string>
		<string>withAnimation: </string>
		<string>Animation.named\(</string>
		<string>.animation\(</string>
	</array>
	<key>New item</key>
	<string></string>
	<key>New item - 5</key>
	<string></string>
	<key>New item - 6</key>
	<string></string>
	<key>New item - 7</key>
	<string></string>
	<key>unusedTranslations</key>
	<true/>
	<key>translationDuplication</key>
	<string></string>
	<key>New item - 4</key>
	<string></string>
	<key>New item - 3</key>
	<string></string>
	<key>New item - 2</key>
	<string></string>
</dict>
</plist>
